{% extends 'DdrUtilsBundle:Entity:base.html.twig' %}
{% block entity_content %}
    <div class="page-header">
        <div class="pull-right">
            <a class="btn btn-default action edit" href="{{ path(routes.edit,{'id':entity.uuid}) }}">
                <i class="fa fa-pencil"></i>
            </a>
            <a class="btn btn-default action delete" href="{{ path(routes.delete,{'id':entity.uuid}) }}">
                <i class="fa fa-trash-o"></i>
            </a>
        </div>
        <h1>{{ entity.uuid }}</h1>
    </div>
    <dl class="dl-horizontal">
        {% for field,displayName in fields %}
            <dt class="{{ field }}-description">{{ displayName }}</dt>
            <dd class="{{ field }}">{{ attribute(entity, field) }}</dd>
        {% endfor %}
    </dl>
{% endblock entity_content %}
